<footer class="border-t border-white/10 bg-neutral-900  py-12">
  <div class="max-w-7xl mx-auto px-6 flex flex-col items-center justify-center text-center gap-6">
    <h2 class="text-2xl font-bold">{{ data().personalInfo.name }}</h2>
    <div class="flex gap-6 mt-4 md:mt-0">
      <a [href]="'https://'+data().personalInfo.linkedinUrl" target="_blank" class="text-neutral-400 hover:text-teal-400 transition-colors">LinkedIn</a>
      <a [href]="'https://'+data().personalInfo.githubUrl" target="_blank" class="text-neutral-400 hover:text-purple-400 transition-colors">GitHub</a>
      <a [href]="'mailto:'+data().personalInfo.email" class="text-neutral-400 hover:text-teal-400 transition-colors">Email</a>
    </div>
  </div>
  <div class="mt-12 text-center text-sm text-neutral-500 border-t border-white/10 pt-8 flex flex-col md:flex-row justify-between items-center max-w-7xl mx-auto px-6 gap-4">
    <span>© {{ currentYear }} {{ data().personalInfo.name }}. Built with Angular & Tailwind CSS.</span>
    
    <a routerLink="/register" class="group flex items-center gap-2 px-4 py-2 bg-neutral-800/50 hover:bg-neutral-800 border border-white/5 hover:border-purple-500/30 rounded-full transition-all duration-300">
      <div class="w-2 h-2 rounded-full bg-purple-500 animate-pulse"></div>
      <span class="text-neutral-400 group-hover:text-white transition-colors text-xs font-medium tracking-wide">
        Build your own portfolio
      </span>
      <svg class="w-3.5 h-3.5 text-neutral-500 group-hover:text-purple-400 transition-colors ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
    </a>
  </div>
</footer>
